<p>page1-filter works!</p>
<div>
  <div>
    <img src="" alt="" />
    <input type="radio" placeholder="Search" />
  </div>
  <div>
    <img src="" alt="" />
    <input type="radio" placeholder="Search" />
  </div>
</div>

<div>
  <div>
    <p></p>
    <input type="radio" placeholder="Search" />
  </div>
  <div>
    <p></p>
    <input type="radio" placeholder="Search" />
  </div>
</div>

<div>
  <div>
    <p></p>
    <input type="radio" placeholder="Search" />
  </div>
  <div>
    <p></p>
    <input type="radio" placeholder="Search" />
  </div>
  <div>
    <p></p>
    <input type="radio" placeholder="Search" />
  </div>
  <div>
    <p></p>
    <input type="radio" placeholder="Search" />
  </div>
  <div>
    <p></p>
    <input type="radio" placeholder="Search" />
  </div>
  <div>
    <p></p>
    <input type="radio" placeholder="Search" />
  </div>
</div>

<div>
  <div>
    <p></p>
    <input type="range" placeholder="Search" />
  </div>
</div>
